<h1>Listing ratings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Score</th>
      <th>Hotel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.score %></td>
        <td><%= rating.user_id %></td>
        <td><%= comment.hotel_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rating', new_rating_path %>
