#new_hotel {
  margin-top: 50px;
}

#top_hotel {
  position: relative;
  float: right;
}

#text {
color: red;
}
#right-nav {
 margin-right: 20px;
}

.hotel {
  float: left;
  display: block;
  margin: 7px 7px 7px 0;
}

.description {
  display: block;
}

.container {
  padding: 20px;
}

.content {
 margin-top: 20px;
}

.price_line {
margin-left: 100px;
margin-top: 0.5em;
margin-bottom: 0.8em;
}

.price {
color: green;
font-weight: bold;
margin-right: 3em;
}

.break{
  margin-top: 1em;
}

.title{
  padding-top: 0.5em;
}
